extends ./layout

block content

    .container.mobile

        textarea#input-modules(rows='3' placeholder="fetch each random...")
        a.btn#build-btn(href='#') BUILD
        a.btn#download-btn.disabled(download='eustia.js') DOWNLOAD

        ul#build-logger
            li Note:
            li Module names are separated by spaces.
            li The generated library is exported as "_" in global space, using UMD pattern.

    script(src='#{site.baseUrl}static/js/builder.js')