extends ./layout

block content

    .md.container.mobile.intro!= contents

    script.
        setTimeout(function () {
            location = 'https://licia.liriliri.io/builder.html';
        }, 2000)