extends ./layout

block content

    .banner
        h1 A Tool for Generating JavaScript Utility Libraries:)
        a.btn.second(href='#{site.baseUrl}guide.html') GET STARTED
        .glow.hidden

    .procedure
        .container
            ul
                li
                    h2 Step 1
                    p.
                        Break utilities in pieces.
                li
                    h2 Step 2
                    p.
                        Scan code to generate libraries.
                li
                    h2 Step 3
                    p.
                        Use the generated library.

    .md.container.mobile.intro!= contents

    script.
        // Banner glow effect.
        _.use(function ()
        {
            var $glow = _.$('.glow');

            var imgWidth  = 1828,
                imgHeight = 360,
                imgRatio  = imgWidth / imgHeight;

            var bannerWidth, bannerHeight = 360, bannerRatio;

            function onResize()
            {
                var width, height;

                bannerWidth  = window.innerWidth;
                bannerRatio = bannerWidth / bannerHeight;

                if (bannerRatio > imgRatio)
                {
                    width  = bannerWidth;
                    height = width / imgRatio;
                } else
                {
                    height = bannerHeight;
                    width  = height * imgRatio;
                }

                var x = width * (297 / imgWidth) - 10,
                    y = height * (272 / imgHeight) - 10;

                $glow.css({ top : y, left: x });
            }

            onResize();

            $glow.show();

            window.onresize = onResize;
        });
