extends ./layout

block content

    .module-container
        .md.toc-container
            .search
                input(type="text" placeholder="Search")
            != toc
        .md.doc-container!= contents

    script.
        _.ready(function search() 
        {
            var $input = _.$('.search input'),
                $tocList = _.$('.toc-container ul li');

            $input.on('input', function ()
            {
                var val = _.$(this).val().toLowerCase();

                $tocList.hide();

                $tocList.each(function () 
                {
                    var $this = _.$(this),
                        name = $this.find('a').text().toLowerCase();

                    if (name.indexOf(val) > -1) $this.show();
                });
            });
        });
        _.ready(function scrollEffect()
        {
            var $docContainer = _.$('.doc-container'),
                docContainer = $docContainer.get(0),
                docTop = $docContainer.offset().top;

            _.$('.toc-container').on('click', 'a', function (e)
            {
                e.preventDefault();

                var scrollTop = docContainer.scrollTop;

                new _.Tween({
                    y: scrollTop
                }).on('update', function (target)
                {
                    docContainer.scrollTop = target.y;
                }).to({
                    y: _.$(_.$(this).attr('href')).offset().top - docTop + scrollTop
                }, 300, 'inQuad').play();
            });
        });