extends ./layout

block content

    .container.mobile
        .playground
            .initial-text Initializing RunKit...

    script(src='//embed.runkit.com')

    script.
        RunKit.createNotebook({
            element: _.$('.playground').get(0),
            source: [
                '// You can\'t require modules that are supposed to run in browsers only.\n',
                'var uuid = require("licia/uuid"),',
                '    dateFormat = require("licia/dateFormat"),',
                '    now = require("licia/now"),',
                '    randomBytes = require("licia/randomBytes");\n',
                'console.log(randomBytes(5));',
                'console.log(uuid());',
                'console.log(dateFormat(now(), "yyyy-mm-dd"));'
            ].join('\n'),
            onLoad: function () 
            {
                _.$('.initial-text').remove();
            }
        });

