footer
    text-align center
    background $pri-color
    color #fff
    height $footer-height
    font-size 12px
    margin-top -($footer-height)
    a
        color #fff
        line-height $footer-height
        text-decoration underline