.function
    margin 50px 0
    h2
        padding 0
        border-bottom  1px solid $pri-color
        margin 0
        .name
            font-size 28px
            background $pri-color
            color #fff
            padding 6px 10px
            display inline-block
            margin-right 15px
        .return
            font-size 16px
            font-weight normal
    .content
        padding 5px 0
    .td-name
        width 120px
    .td-type
        width 100px
    .detail
        margin 15px 0