header
    border-bottom 1px solid $pri-color
    z-index 10
    position relative
    nav
        &.collapsed
            height $header-height
        overflow hidden
        &:after
            clear both
            content ''
            display table
        .site-logo
            float left
            font-size 26px
            line-height $header-height
            color $pri-color
            .first-letter
                background $sec-color
                display inline-block
                border-radius 50%
                width 50px
                height 50px
                line-height 50px
                text-align center
                color #fff
                margin-right 5px
        button
            float right
            margin-top 25px
            padding 9px 10px
            background $sec-color
            border none
            outline none
            cursor pointer
            display none
            .icon-bar
                width 22px
                height 2px
                background #fff
                display block
            .icon-bar + .icon-bar
                margin-top: 4px;
        ul
            float right
            li
                display inline-block
                a
                    font-size 16px
                    padding 0 15px;
                    line-height $header-height
                    display block
                    color $pri-color
                    transition color 0.2s ease-in-out
                    &:hover
                        color $sec-color

@media (max-width $container-width)
    nav
        padding 0 1.4em !important
        button
            display block !important
        ul
            float none !important
            clear both
            margin-top 80px
            border-top 1px solid $pri-color
            li
                width 100%
                a
                    padding 0 !important