header
    border-bottom 1px solid $pri-color
    nav
        width 1170px
        padding 0 15px
        margin 0 auto
        &:after
            clear both
            content ''
            display table
        .site-logo
            float left
        ul
            float right
            li
                display inline-block
                padding 0 5px
                a
                    font-size 16px
                    padding 30px 15px 25px;
                    display block
                    color $pri-color
                    transition color 0.2s ease-in-out
                    &:hover
                        color $sec-color
