.banner
    height 360px
    padding 80px 48px 40px
    background #333
    background-image url(./static/img/banner.jpg)
    background-size cover
    background-position center
    text-align center
    h1
        width 560px
        margin 40px auto
        text-align center
        color #fff
        font-size 24px

.intro
    padding 64px 0