.md
    h1, h2, h3, h4
        color $pri-color
    h1, h2
        padding-bottom 0.3em
        border-bottom 1px solid #eee;
    p
        font-size 16px
        font-weight 400
        line-height 28px
    pre
        background #333
        padding 1em 1.5em
    strong
        color $pri-color
    a
        color $pri-color
        text-decoration underline