.md
    h1, h2, h3, h4
        color $pri-color
    h1, h2
        padding-bottom 0.3em
        border-bottom 1px solid #eee;
    p
        font-size 16px
        font-weight 400
        line-height 28px
    pre
        background #333
        padding 1em 1.5em
        overflow-y auto
    blockquote
        border-left 4px solid $pri-color
        background #f5f6f7
        margin 5px 0
        padding 8px 16px
        p
            margin 5px 0
    strong
        color $pri-color
    a
        color $pri-color
        text-decoration underline

@media (max-width $container-width)
    .md
        p
            font-size 14px