.module-container
    padding-top 80px
    width 100%
    position absolute
    top 0
    left 0
    height 100%
    overflow hidden
    background #fff

    .toc-container
        width 250px
        height 100%
        float left
        padding 25px 0 30px 30px
        overflow-y auto
        li
            padding-top 20px
        .search
            position relative
            padding-right 30px
            .icon-search
                position absolute
                top 10px
            input
                width 100%
                font-size 16px
                border none
                outline none
                padding 10px 0 11px 20px
                border-bottom 1px solid $gray
                -webkit-appearance none

    .doc-container
        margin-left 250px
        padding 0 30px
        height 100%
        overflow-y auto
        h2
            cursor pointer
        i.env
            background-color $pri-color
            border-radius 50%
            color #fff
            padding 0 6px
            width 28px
            margin-left 4px
            font-size 16px
            float right
        pre
            position relative
            .btn-repl
                color #fff
                cursor pointer
                position absolute
                right 1.5em
                bottom 1em

@media (max-width $container-width)
    .module-container
        height auto
        padding-top 0
        position static

        .toc-container
            display none

        .doc-container
            margin-left 0
            margin-right 0
            padding 1em 1.4em !important
