.module-container
    padding-top 80px
    width 100%
    position absolute
    top 0
    left 0
    height 100%
    overflow hidden
    background #fff

    .toc-container
        width 200px
        height 100%
        float left
        padding 25px 0 30px 30px
        overflow-y auto
        .search
            padding-right 30px
            margin-bottom 20px
            input
                width 100%
                font-size 18px
                border none
                outline none
                padding 10px 0 11px 0
                border-bottom 1px solid $gray

    .doc-container
        margin-left 200px
        padding 0 30px
        height 100%
        overflow-y auto
        span.env
            background $pri-color
            color #fff
            padding 0 4px
            margin-left 4px
            font-size 14px
            float right
        pre
            position relative
            .btn-repl
                color #fff
                cursor pointer
                position absolute
                right 1.5em
                bottom 1em

@media (max-width $container-width)
    .module-container
        height auto
        padding-top 0
        position static

        .toc-container
            display none

        .doc-container
            margin-left 0
            margin-right 0
            padding 1em 1.4em !important
