.playground
    position relative
    padding-top 30px
    margin-top 10px
    .initial-text
        position absolute
        width 100%
        top 0
        left 0
        text-align center
        color $pri-color