.table
    width 100%
    border-collapse collapse
    thead
        background $sec-color
        th
            color #fff
            text-align left
    th, td
        border 1px solid $sec-color
        padding 6px 10px