head
    meta(charset='utf-8')
    title #{title ? title : site.title}
    link(rel='stylesheet' href="style.css")
    // Google fonts are too slow to load, disable in development.
    // link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css')
