header
    nav.container
        a.site-logo(href="#{site.baseUrl}") Eustia
        ul
            each val in site.nav
                li
                    a(href='#{site.baseUrl + val.url}')= val.text

