header
    nav.container
        a.site-logo(href="#{site.baseUrl}")
            span.first-letter E
            span ustia
        ul
            each val in site.nav
                li
                    a(href='#{site.baseUrl + val.url}')= val.text
            li
                a(href='https://github.com/liriliri/eustia') GITHUB
